tqdm
numpy
scikit-learn
cython
Pillow
PyYAML
pandas
Jinja2
fastapi
uvicorn
ipykernel
matplotlib
opencv-python
dill==0.3.5.1
albumentations
python-multipart
gdown
email-validator>=2.0

torch
torchvision

-e .